* {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    font-weight: normal;
    list-style: none;
    text-align: left;
    box-sizing: border-box;

    &:hover,
    &:link,
    &:active,
    &:focus,
    &:visited {
        text-decoration: none;
        color: black;
    }

    button {
        color: inherit;
    }
}